@if (loaded) {
    <h1>{{ router?.name }}</h1>

    <!-- Router details -->

    <section>
        <div class="details">
            <p>Last modified: {{ router?.lastModifiedDate | timestamp | date: 'medium' }}</p>
            <p>Last modified by: {{ router?.lastModifiedBy }}</p>
            <button
                mat-button
                (click)="togglePower()">
                {{ router?.powered ? 'Turn off' : 'Turn on' }}
            </button>
        </div>
    </section>

    <section>
        <!-- Router status -->
        <app-router-svg (interfaceClick)="handleInterfaceClick($event)"></app-router-svg>
    </section>

    <section>
        <!-- Selected interface -->
        <app-interface-editor
            [routerId]="routerId!"
            [interface]="selectedInterface"
            [bridgeList]="bridges"></app-interface-editor>
    </section>

    <section>
        <!-- Interfaces -->
        <app-interface-list
            [routerId]="routerId!"
            [interfaceList]="interfaces"
            (interfaceClick)="handleInterfaceClick($event)"></app-interface-list>
    </section>

    <section>
        <!-- Bridges -->
        <app-bridge-list
            [routerId]="routerId!"
            [bridgeList]="bridges"
            [interfaceList]="interfaces"></app-bridge-list>
    </section>

    <section>
        <!-- Route entries -->
        <app-route-list
            [routerId]="routerId!"
            [routeList]="routeEntries"></app-route-list>
    </section>
}
