h1 {
    margin-top: 1rem;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: max-content;
    margin: 0.5rem auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.192);
}

.details p {
    word-wrap: break-word;
}
