<div class="bridges">
    <h2>Bridges</h2>
    <table
        mat-table
        [dataSource]="bridgeList"
        class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th
                mat-header-cell
                *matHeaderCellDef>
                Name
            </th>
            <td
                mat-cell
                *matCellDef="let bridge">
                {{ bridge.name }}
            </td>
        </ng-container>

        <!-- Virtual Interface Name Column -->
        <ng-container matColumnDef="virtualInterfaceName">
            <th
                mat-header-cell
                *matHeaderCellDef>
                Virtual Interface Name
            </th>
            <td
                mat-cell
                *matCellDef="let bridge">
                {{ bridge.virtualInterfaceName }}
            </td>
        </ng-container>

        <ng-container matColumnDef="slaves">
            <th
                mat-header-cell
                *matHeaderCellDef>
                Slaves count
            </th>
            <td
                mat-cell
                *matCellDef="let bridge">
                {{ interfaceCount(bridge) }}
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th
                mat-header-cell
                *matHeaderCellDef>
                Actions
            </th>
            <td
                mat-cell
                *matCellDef="let bridge">
                <button
                    mat-icon-button
                    (click)="deleteBridge(bridge)"
                    color="warn"
                    [disabled]="interfaceCount(bridge) !== 0">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="['name', 'virtualInterfaceName', 'slaves', 'action']"></tr>
        <tr
            mat-row
            *matRowDef="
                let row;
                columns: ['name', 'virtualInterfaceName', 'slaves', 'action']
            "></tr>
    </table>

    <!-- Add button -->

    <button
        mat-fab
        color="primary"
        (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>
