<section>
    <h1>Routers</h1>
    <mat-list>
        @for (router of $routers | async; track $index) {
            <mat-list-item>
                <mat-icon
                    matListItemIcon
                    [matBadge]="router.powered ? 'on' : 'off'"
                    [matBadgeColor]="router.powered ? 'primary' : 'warn'">
                    router
                </mat-icon>
                <h3 matListItemTitle>
                    {{ router.name }}
                </h3>
                <p matListItemLine>
                    Last modified: {{ router.lastModifiedDate | timestamp | date: 'medium' }} by:
                    {{ router.lastModifiedBy }}
                </p>
                <div matListItemMeta>
                    <a
                        mat-icon-button
                        [routerLink]="['/routers', router.id]">
                        <mat-icon color="primary">edit</mat-icon>
                    </a>
                </div>
            </mat-list-item>
        }
    </mat-list>
</section>
