<section>
    <h1>Routers</h1>
    <p>
        <a
            mat-raised-button
            (click)="createRouter()">
            Create new router
        </a>
    </p>
    <mat-list>
        @for (router of $routers | async; track $index) {
            <mat-list-item>
                <mat-icon
                    matListItemIcon
                    [matBadge]="router.powered ? 'on' : 'off'"
                    [matBadgeColor]="router.powered ? 'primary' : 'warn'">
                    router
                </mat-icon>
                <h3 matListItemTitle>
                    {{ router.name }}
                </h3>
                <p matListItemLine>
                    Last modified: {{ router.lastModifiedDate | timestamp | date: 'medium' }} by:
                    {{ router.lastModifiedBy }}
                </p>
                <div matListItemMeta>
                    <button
                        mat-icon-button
                        [matMenuTriggerFor]="menu"
                        [matMenuTriggerData]="{ routerId: router.id }">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <a
                        mat-icon-button
                        [routerLink]="['/routers', router.id]">
                        <mat-icon color="primary">edit</mat-icon>
                    </a>
                </div>
            </mat-list-item>
        }
    </mat-list>
</section>

<mat-menu #menu="matMenu">
    <ng-template
        matMenuContent
        let-routerId="routerId">
        <button
            mat-menu-item
            (click)="deleteRouter(routerId)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
        </button>
    </ng-template>
</mat-menu>
